#background {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;

  #background-pic {
    width: 100%;
    height: 100%;
    background: url('assets/images/background_hires.jpg') center/cover;
    opacity: 0;
    transition: map-get($transitions, background_initial);

    @include mq-pads {
      background-image: url('assets/images/background_medres.jpg');
    }
    @include mq-phones {
      background-image: url('assets/images/background_lowres.jpg');
    }
  }

  #logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    opacity: 0;
    transition: map-get($transitions, logo_initial);

    @include mq-pads {
      width: 60%;
    }
    @include mq-phones-landscape {
      width: 60%;
    }
    @include mq-phones-portrait {
      width: 82%;
    }
  }

  .hide-on-menu-open {
    position: absolute;

    &.click-target {
      transition: map-get($transitions, icon_fade),
                  map-get($transitions, click_target_hover);
    }
  }

  %icon-on-background {
    top: 0.8em;
    font-size: 2.5rem;
    color: $icon_on_background_color;
    @include icon-hover-styles;
  }
  #menu-icon {
    @extend %icon-on-background;
    left: 1em;

    @include mq-phones {
      top: 0.5em;
      left: 0.5em;
    }
  }
  #sound-icon {
    @extend %icon-on-background;
    right: 1em;

    @include mq-phones {
      top: 0.5em;
      right: 0.5em;
    }
  }
}
