@keyframes blur {
  50% { filter: blur(10px); }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  /* don't let any animations cause scrollbars */
  overflow: hidden;
}

@mixin icon-hover-styles {
  &:hover {
    cursor: pointer;
    color: $hover_color;
  }
}

/* for clickable non-link elements both in the background and inside content area */
.click-target {
  transition: map-get($transitions, click_target_hover);
  @include icon-hover-styles;
}

.mute-toggle {
  /* change to inline-block when making it visible, in order to fixate the icon
     in its container so toggling doesn't move it. */
  display: none;
  width: 1em;
  height: 1em;
  text-align: left;
}
