html, body {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden; /* don't let any animation cause scrollbars */
}

#background {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#background-pic {
  width: 100%;
  height: 100%;
  background-image: url('assets/platine2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  transition: opacity 9s ease-in;
}
@media (max-device-width: 736px) { /* smartphones */
  #background-pic {
    background-image: url('assets/platine2_lowres.jpg');
  }
}
@media (min-device-width: 736.1px) and (max-device-width: 1366px) { /* pads */
  #background-pic {
    background-image: url('assets/platine2_medres.jpg');
  }
}

@keyframes psycho {
  0%     {filter: invert(100%); transform: scale(-1, 1) skewX(30deg);}
  99.99% {filter: invert(100%); transform: scale(-1, 1) skewX(30deg);}
}
@keyframes zoom {
  50%    {filter: blur(10px);}
}
@keyframes bright {
  100%   {filter: brightness(700%);}
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  position: absolute;
  width: 40%;
  height: auto;
  opacity: 0;
  transition: opacity 6s ease-out;
}

main {
  /* for some reason, if I set position to absolute, auto horizontal stretching
     doesn't work correctly (doesn't stretch enough) */
  position: relative;
  display: inline-block;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  background-color: #0a0a0a; /* fallback */
  background: radial-gradient(ellipse at center, #050505 20%, #202020 100%);
  color: #dfdfdf;
  font-family: 'Audiowide', cursive;
  font-size: 1.2rem;
  padding: 1em 2em 1em 2em;
  border-radius: 1.2em;
  box-shadow: 0 0 1em 2px rgba(255, 255, 255, 0.5) inset;
  transition: max-width 1s, max-height 1s;
}

main h1 {
  font-size: 1.8em;
}

/* smartphones on portrait view */
@media (max-device-width: 567.99px) {
  #logo {
    width: 82%;
  }
  main {
    font-size: 0.8rem;
  }
}
/* smartphones on landscape view */
@media (min-device-width: 568px) and (max-device-width: 767.99px) {
  #logo {
    width: 60%;
  }
  main {
    font-size: 0.9rem;
  }
}
/* smartphones on landscape view and pads */
@media (min-device-width: 768px) and (max-device-width: 1366px)  {
  #logo {
    width: 60%;
  }
  main {
    /*font-size: 1.6rem;*/
  }
}

main > #content-wrapper {
  opacity: 0;
  transition: opacity 0.5s linear 0.5s;
}

main #mute-toggle {
  position: absolute;
  top: 0.7em;
  right: 0.9em;
  width: 1em;
  height: 1em;
  font-size: 1.8em;
  cursor: pointer;
}
main #mute-toggle:hover {
  color: #dd2020;
}
@media (max-device-width: 1366px) { /* phones and pads */
  main #mute-toggle {
    display: none; /* no background track is being played */
  }
}

main #shows td {
  padding-bottom: 0.6em;
}
main #shows td:first-child {
  text-align: center;
  padding-right: 1em;
}

main #links ul {
  list-style: none;
}
main #links li {
  padding-bottom: 0.4em;
}
main #links li > i {
  margin-right: 0.8em;
}

main a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
main a:hover {
  color: #dd2020;
  transform: scale(1.1, 1.1);
  transition: transform 0.2s;
}

#close-row {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: right;
}
#close-row > #close-target:hover {
  cursor: pointer;
  color: #dd2020;
}
