@font-face {
    font-family: 'cast_iron_condensed';
    src: url('assets/fonts/cast_iron_condensed/cast_iron-condensed-webfont.woff2') format('woff2'),
         url('assets/fonts/cast_iron_condensed/cast_iron-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geomanist';
    src: url('assets/fonts/geomanist/regular/geomanist-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/geomanist/regular/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes zoom {
  50% { filter: blur(10px); }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden; /* don't let any animations cause scrollbars */
}

#background {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}

#background-pic {
  width: 100%;
  height: 100%;
  background: url('assets/platine2.jpg') center/cover no-repeat fixed;
  opacity: 0;
  transition: opacity 9s ease-in;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  position: absolute;
  width: 40%;
  opacity: 0;
  transition: opacity 6s ease-out;
}

main {
  /* for some reason, if I set position to absolute, auto horizontal stretching
     doesn't work correctly (doesn't stretch enough) */
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* so scrollbar is hidden when box is closed */
  height: 100%;
  overflow-y: auto;
  background-color: #0a0a0a; /* fallback */
  background: radial-gradient(ellipse at center, #050505 20%, #202020 100%);
  color: #dfdfdf;
  font: bold 1rem 'geomanist', monospace;
  padding: 0 2em;
  transition: left 1s;
}

main section {
  margin: 0 5em;
}

main h1 {
  font-size: 3em;
  margin: 1.2em 0 0.6em;
}

main h1, main h2, main h3, main h4, main h5 {
  font-family: 'cast_iron_condensed', monospace;
  font-weight: normal;
  letter-spacing: 0.1em;
}

main ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

main #shows {
  text-transform: uppercase;
}
main #shows > ul {
  font-size: 1.1em;
}
main #shows time {
  display: block;
  margin: 1.7em 0 0.4em;
  font-weight: bold;
}
main #shows p {
  font-weight: normal;
  font-size: 0.9em;
  margin: 0.2em 0;
}
main #shows p:last-of-type::before {
  content: "- ";
}

main #links li i {
  margin-right: 0.8em;
}

main #links a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.9em;
}
main #links a span {
  display: inline-block;
  transition: all 0.2s linear;
}
main #links a:hover span {
  color: #dd2020;
  transform: scale(1.1, 1.1);
}

main .icon-row {
  text-align: right;
}
main .icon-row:first-of-type {
  margin-top: 1.5em;
}
main .icon-row:last-of-type {
  margin-bottom: 1.5em;
}
main .icon-row > .icon-target {
  transition: color 0.2s linear;
}
main .icon-row > .icon-target:hover {
  cursor: pointer;
  color: #dd2020;
}

/* need to fixate the icon in its container so toggling doesn't move it */
main #mute-toggle {
  display: inline-block;
  text-align: left;
  width: 1em;
  height: 1em;
  font-size: 1.8em;
}


/***** MEDIA QUERIES *****/

@media (max-device-width: 1366px) { /* phones and pads */
  /*main {
    width: 100%;
  }*/
  main #mute-toggle {
    display: none; /* no background track is being played */
  }
}

@media (max-device-width: 736px) { /* smartphones */
  #background-pic {
    background-image: url('assets/platine2_lowres.jpg');
  }
}
@media (min-device-width: 736.1px) and (max-device-width: 1366px) { /* pads */
  #background-pic {
    background-image: url('assets/platine2_medres.jpg');
  }
}

/* smartphones on portrait view */
@media (max-device-width: 567.99px) {
  #logo {
    width: 82%;
  }
  main {
    font-size: 0.8rem;
  }
  main section {
    margin: 0 2em;
  }
}
/* smartphones on landscape view */
@media (min-device-width: 568px) and (max-device-width: 767.99px) {
  #logo {
    width: 60%;
  }
  main {
    font-size: 0.9rem;
  }
}
/* smartphones on landscape view and pads */
@media (min-device-width: 768px) and (max-device-width: 1366px)  {
  #logo {
    width: 60%;
  }
  main {
    /*font-size: 1.6rem;*/
  }
}
