@font-face {
    font-family: 'cast_iron_condensed';
    src: url('assets/fonts/cast_iron_condensed/cast_iron-condensed-webfont.woff2') format('woff2'),
         url('assets/fonts/cast_iron_condensed/cast_iron-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geomanist';
    src: url('assets/fonts/geomanist/regular/geomanist-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/geomanist/regular/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes blur {
  50% { filter: blur(10px); }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden; /* don't let any animations cause scrollbars */
}

#background {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}

#background-pic {
  width: 100%;
  height: 100%;
  background: url('assets/platine2_hires.jpg') center/cover;
  opacity: 0;
  transition: opacity 9s ease-in;
}

.hide-on-menu-open {
  position: absolute;
  cursor: pointer;
  color: white;
}

#menu-icon, #sound-icon {
  top: 0.8em;
  font-size: 3rem;
}
#menu-icon {
  left: 1em;
}
#sound-icon {
  right: 1em;
}
#logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  opacity: 0;
  transition: opacity 6s ease-out;
}

.icon-target {
  transition: color 0.2s linear;
}
.hide-on-menu-open.icon-target {
  transition: opacity 0.5s linear, color 0.2s linear;
}
.icon-target:hover {
  cursor: pointer;
  color: #dd2020;
}

/* need to fixate the icon in its container so toggling doesn't move it */
.mute-toggle {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: left;
}

main {
  position: absolute;
  height: 100%;
  background: url(assets/content_background_hires.jpg) right center/cover;
  transition: left 1s;
}

main #content {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* so scrollbar is hidden when box is closed */
  overflow-y: auto;
  height: 100%;
  padding: 0 2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #dfdfdf;
  font: bold 1rem 'geomanist', monospace;
}

main section {
  margin: 0 5em;
}

main h1 {
  font-size: 3rem;
  margin: 1.2em 0 0.6em;
}

main h1, main h2, main h3, main h4, main h5 {
  font-family: 'cast_iron_condensed', monospace;
  font-weight: normal;
  letter-spacing: 0.1em;
}

main ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

main #shows {
  text-transform: uppercase;
}
main #shows > ul {
  font-size: 1.1em;
}
main #shows time {
  display: block;
  margin: 1.7em 0 0.4em;
}
main #shows p {
  font-weight: normal;
  font-size: 0.9em;
  margin: 0.2em 0;
}
main #shows p:last-of-type::before {
  content: "- ";
}

main #links li i {
  margin-right: 0.8em;
}
main #links a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.9;
}
main #links a span {
  display: inline-block;
  transition: all 0.2s linear;
}
main #links a:hover span {
  color: #dd2020;
  transform: scale(1.1, 1.1);
}

main .icon-row {
  position: relative;
  text-align: right;
}
main .icon-row:first-of-type {
  margin-top: 1.5em;
}
main .icon-row:last-of-type {
  margin-top: 2em;
  margin-bottom: 1.5em;
}
main .mute-toggle {
  font-size: 1.8em;
}

main a#evolife-link {
  position: absolute;
  left: 0;
  text-decoration: none;
  color: inherit;
}


/***** MEDIA QUERIES *****/

/* phones and pads (any orientation) */
@media (max-device-width: 1366px) {
  .mute-toggle {
    display: none; /* no background track is being played */
  }
  main, main #content {
    width: 100%;
    text-align: center;
  }
  main #links ul {  /* left alignment for centered list */
    display: inline-block;
    margin: 0 auto;
    text-align: left;
  }
  main #shows p:last-of-type::before {
    content: "";
  }
  main a#evolife-link {
    display: none;
  }
}

/* smartphones (any orientation) */
@media (max-device-width: 767.99px) {
  #background-pic {
    background-image: url('assets/platine2_lowres.jpg');
  }
  main {
    background-image: url(assets/content_background_lowres.jpg);
  }
  #menu-icon {
    top: 0.5em;
    font-size: 2.5rem;
  }
  #menu-icon {
    left: 0.5em;
  }
}

/* smartphones on portrait view */
@media (max-device-width: 567.99px) {
  #logo {
    width: 82%;
  }
  main #content {
    font-size: 1rem;
  }
  main section {
    margin: 0 1em;
  }
  #shows > h1 {
    margin-top: 0.5em;
  }
}

/* smartphones on landscape view */
@media (min-device-width: 568px) and (max-device-width: 767.99px) {
  #logo {
    width: 60%;
  }
  main #content {
    font-size: 1.1rem;
  }
}

/* pads */
@media (min-device-width: 768px) and (max-device-width: 1366px) {
  #background-pic {
    background-image: url('assets/platine2_medres.jpg');
  }
  #logo {
    width: 60%;
  }
  main {
    background-image: url(assets/content_background_medres.jpg);
  }
  main #content {
    font-size: 1.6rem;
  }
}
